<!DOCTYPE html>
<html>
<head>
	<title>park</title>
	<link rel="icon" type="image/png" href="images/park.png" sizes="18x18 32x32">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
	<div class="col-md-12">
		<section class="panel"> 
			<div 
				class="panel-body panel-form-form" 
				style="margin-top: 160px; width: 45% !important; margin-left: 390px !important; opacity: 0.8;">
				<h1 
					class="title-form" 
					style="margin-left: 176px !important;">
					Iniciar Sessión
				</h1>
				<form method="POST" action="/auth">
					{{#if  message}}
					<p class="alert alert-warning form-error">{{ message }}</p>
					{{/if}}
					<div class="form-group">
						<label 
							for="nombre" 
							class="negrita label-form"  
							style="margin-left: 103px !important; ">
							Usuario:
						</label> 
						<div>
							<input 
								class="form-user" 
								placeholder="Usuario"  
								name="usuario" 
								type="text" 
								id="usuario"  
								style="margin-left: 103px !important;" 
								value="{{usuario}}"> 
						</div>
					</div>
				 
					<div class="form-group">
						<label 
							for="password" 
							class="negrita label-form"  
							style="margin-left: 103px !important; ">
							Contraseña:
						</label> 
						<div>
							<input 
								class="form-user" 
								placeholder="Contraseña"  
								name="password" 
								type="password" 
								id="password"  
								style="margin-left: 103px !important;"
								value="{{password}}"> 
						</div>
					</div>
					<input 
						type="submit" 
						class="btn btn-info btn-form-register" 
						value="Ingresar" 
						style="margin-left: 195px;margin-top: 18px;">
				</form>
					<br>
					<br>
			</div>
		</section>
	</div>
</div>
</body>
</html>