a {
  color: #00B7FF;
}
body{
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image:  url("../images/login.png");
	background-repeat: no-repeat, repeat;
	background-size: 100%;
	opacity: 0.8;
	font-family: sans-serif;
}

.form-user{
	margin-left: 118px;
  width: 64%;
  height: 49px;
  border-radius: 10px;
  margin-top: -2px;
  margin-bottom: -7px;
}

.btn-form-register {
	  margin-left: 225px;
    width: 33%;
    height: 49px;
    border-radius: 10px;
    background-color: #0AA348;
    font-weight: bold;
    font-size: 17px;
}

.card{
	width: 86% !important;
  margin-left: 106px !important;
  margin-top: 52px !important;
}

.panel-form-form{
  opacity: 0.8;
	background-color:  #BBC9C0;;
  width: 52%;
  border-radius: 10px;
  margin: center;
  margin-left: 342px;
  margin-top: 29px;
}

.label-form{
	margin-left: 119px;
}

.title-form{
	font-size: 30px;
  padding-top: 13px;
  margin-left: 232px;
}

.link-form{
	margin-left: 118px;
}

.form-group{
	margin-top: -6px;
  margin-bottom: 3px;
}

.form-error{
  width: 64%;
  margin-left: 100px;
}